[mqtt]
uri = "mqtt://192.168.99.100:1883"

[web]
listen_addr = "127.0.0.1:8000"
# in seconds
request_timeout = 5

[web.cors]
allow_origins = "*"
max_age = 86400

[authn."iam.example.net"]
audience = ["example.net"]
algorithm = "HS256"
key = "data/keys/iam.key.binary.sample"

[id]
label = "http-gateway"
audience = "example.net"

[events."iam.example.net"]
callback = "http://localhost:8000/event"
sources = [
  {label = "test-app", audience = "example.net"}
]
