id = "http-gateway.svc.example.org"
agent_label = "alpha"

[authn."iam.svc.example.net"]
audience = ["usr.example.net"]
algorithm = "ES256"
key = "data/keys/iam.public_key.p8.der.sample"

[events."example.net"]
callback = "https://example.net/callback"
sources = ["event-source.svc.example.org"]

[mqtt]
uri = "mqtt://192.168.99.100:1883"
clean_session = false

[http]
listener_address = "0.0.0.0:8080"

[http.cors]
allow_origins = "*"
max_age = 86400

[http_client]
timeout = 5 # seconds
